@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bebas;
  }

  body {
    @apply font-manrope;
  }
}

body, html, #root {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.page.light {
  background-color: #f2f2f2;
}
.page.dark {
  background-color: #000;
}

.page.light * {
  color: #000;
}
.page.dark *:not(input, textarea, .text-black, .text-unlock) {
  color: #fff;
}

.page.dark .logo {
  fill: #fff;
}

.primary {
  color: deepskyblue !important;
}

.primary .orange {
  color: goldenrod !important;
}

.wrapper {
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;
}

.bg-gradient {
  background: linear-gradient(90deg, #484848 0%, #aeaeae 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-uppercase {
  text-transform: uppercase;
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper-wrapper .swiper-slide {
  height: unset;
}

.rotate-anim {
  animation: rotateAnim 2s ease-in-out infinite;
}

@keyframes rotateAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
